.Bug {
    background-image: radial-gradient(at 45% 35%, rgb(63, 63, 63), rgb(0, 0, 0));
    background-color: black;
    border-radius: 50%;

    position: fixed;
    z-index: 1;

    transition: 20ms;
}

.bugAwareZone {
    border-radius: 50%;

    position: fixed;
    z-index: 0;

    transition: 20ms;
}